/**
 * @file
 *   Adds some styles to the standard Drupal autocomplete widget.
*/

.apachesolr-live-results {
  
}

.apachesolr-content-link {
  padding: 3px 3px 7px 3px;
}

input.apachesolr-live-results {
  /*width: 75% !important;*/
}

.apachesolr-live-results-header {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.apachesolr-live-results.message {
  font-size: 80%;
  color: #888;
}

.apachesolr-live-results-count {
  float: right;
  color: red;
}

.apachesolr-live-results-label {
  padding-bottom: 3px;
  color: blue;
}

.apachesolr-live-results-terms {
  color: green;
  padding-bottom: 5px;
  padding-top: 5px;
}

.apachesolr-live-results-values {
  color: black;
  padding-bottom: 5px;
  padding-top: 5px;
}

.apachesolr-live-results-bm {
  padding-bottom: 5px;
  padding-top: 5px;
}

.apachesolr-live-results-img {
  padding-bottom: 5px;
  padding-top: 5px;
}

div.apachesolr-live-results.suggestion {
  display: inline;
  float: left;
}

div.ac_results li {
  list-style: none;
  background-image: none !important;
}

#image{
  height: 30px;
  width: 40px;
  float: left;
  margin-right: 10px;
}
